<%= @tournament.name %>

<% if @tournament.rounds.empty? %>

  <ul class="players_list">
    <% @tournament.players.map do |player| %>
      <li><%= player.name %></li>
    <% end %>
  </ul>

  <%= form_for @tournament, html: {id: "tournament_players"} do |f| %>
      <%= f.collection_select(:players, Player.all.order(:name), :id, :name) %>
      <%= f.submit "Add to tournament" %>
  <% end %>

  <%= button_to "Generate Matches", {action: :build_tournament}, {id: "generate_matches"} %>

<% else %>

  <% @tournament.rounds.each.with_index do |round, i| %>
    <div id="<%= "round-#{i+1}" %>">
      <h1><%= "Round #{i+1}" %></h1>
      <% round.matches.each.with_index do |match, i| %>
        <h2><%= "Match #{i+1}" %></h2>
        <h3>p1: <%= match.player_one ? match.player_one.name : 'player' %></h3>
        <h3>p2: <%= match.player_two ? match.player_two.name : 'player' %></h3>
        <%= form_for match do |f| %>
          <p>
            <%= f.label :player_one_score %>
            <%= f.text_field :player_one_score %>
            <%= f.label :player_two_score %>
            <%= f.text_field :player_two_score %>
            <%= f.hidden_field :tournament_id, value: @tournament.id %>
          </p>
          <p>
            <%= f.submit %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @tournament.champion %>
    Champion: <%= @tournament.champion.name %>
  <% end %>

<% end %>
