<div id="players" class="content">
<h1>The Ladder of Glory</h1>
  <% @players.each do |player| %>
    <div class="row">
      <div class="player">
        <div class="small-12 medium-6 columns">
          <div class="player--image">
            <div class="image-container">
              <%= image_tag player.user.image %>
            </div>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          <div class="player--content">
            <h3><%= "#{player.position}: #{player.name}" %></h3>
            <p>Games: <%= player.games %> | Wins: <%= player.wins %></p>
            <p>Win Percentage: <%= number_to_percentage(player.win_percentage, precision: 0) %></p>
            <% if current_user && (@challengeable.include? player) %>
              <%= link_to "Challenge!", matches_path(player_one: @current_player, player_two: player), method: :post, class: "button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
