<div id="players" class="content">
<h1>The Ladder of Glory</h1>
  <% @players.each do |player| %>
    <div class="row">
      <div class="player">
        <div class="small-12 medium-6 columns">
          <div class="player--image">
            <div class="image-container">
              <%= image_tag player.user.image %>
            </div>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          <div class="player--content">
            <h3><%= "#{player.position}: #{player.name}" %></h3>
            <p>Games: <%= player.games %> | Wins: <%= player.wins %></p>
            <p>Win Percentage: <%= number_to_percentage(player.win_percentage, precision: 0) %></p>
            <% if current_player && (@challengeable.include? player) && (current_player.free_to_challenge?) && (player.free_to_challenge?) %>
              <%= link_to "Challenge!", challenges_path(challenger: @current_player, challenged: player), method: :post, class: "button" %>
            <% end %>
            <% if (player != current_player) && current_player.has_open_challenge? && (current_player.current_challenge_includes_player? player) %>
              <%= link_to "View Challenge", challenge_path(current_player.current_challenge), method: :get, class: "button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
