<section id="players">
  <h1>Leaderboard</h1>
  <div class="row">
    <div class="small-10 medium-6 medium-centered columns">
      <div class="player leader">
        <div class="image-container"><%= image_tag @leader.user.image %></div>
        <h3>Current Leader by wins</h3>
        <h2><%= @leader.first_name %> <%= @leader.last_name %></h2>
        <h4>Games: <%= @leader.games %> | Wins: <%= @leader.wins %></h4>
        <h4>Win Percentage: <%= number_to_percentage(@leader.win_percentage, precision: 0) %></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <% @players.drop(1).each do |player| %>
      <div class="player small-10 medium-4 end columns">
        <div class="image-container"><%= image_tag player.user.image %></div>
        <h3><%= player.first_name %> <%= player.last_name %></h3>
        <p>Games: <%= player.games %> | Wins: <%= player.wins %></p>
        <p>Win Percentage: <%= number_to_percentage(player.win_percentage, precision: 0) %></p>
      </div>
    <% end %>
  </div>
</section>
