<div id="match" class="content">
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <h1>New Challenge!</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <%= form_tag matches_path, method: :post do %>
        <h4>You <%= "(current position: #{current_user.player.position})" %></h4>
        <p>vs.</p>
        <%= hidden_field_tag :player_one, current_user.player.id %>
        <%= select_tag :player_two, options_for_select(@players.map { |player| ["#{player.name} (position: #{player.position})", player.id] } ) %>
        <%= submit_tag "Create Match" %>
      <% end %>
    </div>
  </div>
</div>
