<div class="match">
  <div class="match__players">
    <h3><%= @match.player_one.name_with_nickname %></h3>
    <h4>vs.</h4>
    <h3><%= @match.player_two.name_with_nickname %></h3>
  </div>
  <div class="match__results">
    <% if @match.winner %>
      <h3>Winner: <%= @match.winner.name %></h3>
    <% else %>
      <div class="row">
        <div class="small-12 medium-4 medium-centered columns">
          <%= form_for @match do |f| %>
            <div class="score"><%= f.label :player_one_score %><%= f.text_field :player_one_score %></div>
            <div class="score"><%= f.label :player_two_score %><%= f.text_field :player_two_score %></div>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
