<h3><%= @match.player_one.name_with_nickname %></h3>
<h3><%= @match.player_two.name_with_nickname %></h3>
<% if @match.winner %>
  <h3>Winner: <%= @match.winner.name %></h3>
<% else %>
  <%= form_for @match do |f| %>
    <p>
      <%= f.label :player_one_score %>
      <%= f.text_field :player_one_score %>
      <%= f.label :player_two_score %>
      <%= f.text_field :player_two_score %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>
